{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Perceptions</h1>
    <p class="lead">Welcome to Perceptions</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Perceive
        </p>
    </div>
    <div class="col-md-4">
        <h2>Friends</h2>
        <p>Friend 1</p>
        <p>Friend 2</p>
    </div>
    <div class="col-md-4">
        <h2>Friendships</h2>
        <p>It's how two people get along</p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Friendship">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
